{% extends 'base.html'%}

{% block content %}
<section id="addlisting" class="bg-light py-5">
    <div class="container">
      <div class="row">
        <div class="col-md-6 mx-auto">
          <div class="card">
            <div class="card-header bg-primary text-white">
              <h4>Add Your Listing</h4>
            </div>
            <div class="card-body">

                <form action="{% url 'addlisting' %}" method="POST" enctype="multipart/form-data">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <input type="submit">
	            </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
{% endblock %}

